<% content_for :title, "Edit #{@person.name}" %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "People", people_path %></li>
    <li class="breadcrumb-item"><%= link_to @person.name, person_path(@person) %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>

<div class="card shadow-sm">
  <div class="card-body">
    <h1 class="h3 mb-4">Edit <%= @person.name %></h1>
    <%= render "form", person: @person %>
  </div>
</div>
